@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #33006F, #4361ee, #00308F);
  background-size: 150% 150%;
  animation: gradientShift 200s ease infinite;
  color: #ffffff;
  height: 100vh;
  margin: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar, footer .navbar {
  background-color: hsla(0, 0%, 7%, .95);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 4px;
}

.navbar-brand span {
  margin-left: 8px;
  font-size: 2rem;
  margin-bottom: 0;
}

.navbar-collapse {
  margin-top: 8px;
}

.container-fluid {
  position: absolute;
  top: 66px;
  padding-bottom: 50px;
}

footer .navbar-text {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.horizontal-paragraphs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.horizontal-paragraphs p {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #00308F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}