@import url('https://fonts.googleapis.com/css?family=Jura');

body {
  font-family: 'Jura', jura;
}

.navbar {
  background-color: #333333;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 4px;
}

.navbar-brand span {
  margin-left: 8px;
  font-size: 2rem;
  margin-bottom: 0;
}

.navbar-collapse {
  margin-top: 8px;
}

.container-fluid {
  position: absolute;
  top: 66px;
}

footer .navbar {
  background-color: #333333;
}

footer .navbar-text {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
